XML/XSD_FACT2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EmployeeTransaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="FactEmployeeTransaction">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EMP_ID" type="xs:unsignedByte" />
							<xs:element name="FIRST_NAME" type="xs:string" />
							<xs:element name="LAST_NAME" type="xs:string" />
							<xs:element name="START_DATE" type="xs:dateTime" />
							<xs:element name="TITLE" type="xs:string" />
							<xs:element name="ASSIGNED_BRANCH_ID" type="xs:unsignedByte" />
							<xs:element name="DEPT_ID" type="xs:unsignedByte" />
							<xs:element name="SUPERIOR_EMP_ID" type="xs:unsignedByte" />
							<xs:element name="TXN_ID" type="xs:unsignedByte" />
							<xs:element name="AMOUNT" type="xs:float" />
							<xs:element name="FUNDS_AVAIL_DATE" type="xs:dateTime" />
							<xs:element name="TXN_DATE" type="xs:dateTime" />
							<xs:element name="TXN_TYPE_CD" type="xs:string" />
							<xs:element name="ACCOUNT_ID" type="xs:unsignedByte" />
							<xs:element name="EXECUTION_BRANCH_ID" type="xs:unsignedByte" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>